# systmed unit for dynamic, ephemeral testing containers

[Unit]
Description=CM13 Dynamic Instance: %I
After=docker.service
Requires=docker.service

[Service]
Environment="IMAGE_SOURCE=cm13-%I"
WorkingDirectory="/srv/cm13"
Restart=always
ExecStartPre=docker-compose -f docker-cm13-testing.yml -p "cm13-testing-%I" stop cm13-game
ExecStart=docker-compose -f docker-cm13-testing.yml -p "cm13-testing-%I" up --force-recreate --abort-on-container-exit --no-build
ExecStop=docker-compose -f docker-cm13-testing.yml -p "cm13-testing-%I" down -v

[Install]
WantedBy=multi-user.target
