[Unit]
Description=CM13 Production Deployment
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/srv/cm13-instance
TimeoutStartSec=0
Restart=always
ExecStartPre=docker compose stop cm13-game
ExecStartPre=-docker compose pull
ExecStartPre=docker compose create cm13-game
ExecStart=docker compose up
ExecStop=docker compose down

[Install]
WantedBy=multi-user.target
