[Unit]
Description=CM13 Production Deployment
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/srv/cm13
TimeoutStartSec=0
Restart=always
ExecStartPre=docker-compose -f docker-cm13-production.yml -p cm13-live stop cm13-game-prod
ExecStart=docker-compose -f docker-cm13-production.yml -p cm13-live up --build
ExecStop=docker-compose -f docker-cm13-production.yml -p cm13-live down

[Install]
WantedBy=multi-user.target
