[Unit]
Description=CM13 Production Deployment
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/srv/colonial-warfare-production
TimeoutStartSec=0
Restart=always
ExecStartPre=docker-compose stop cm13-game-prod
ExecStart=docker-compose up --build
ExecStop=docker-compose down

[Install]
WantedBy=multi-user.target
